    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
body {
  font-family: Arial, sans-serif;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}

.button-image {
  position: absolute;
  height: auto;
    opacity: 0;
}

.button-image:nth-child(1) {
  animation: stampAnimation 0.5s ease-out 5s forwards;
}

.button-image:nth-child(2) {
  animation: stampAnimation 0.5s ease-out 10s forwards;
}

.button-image:nth-child(3) {
  animation: stampAnimation 0.5s ease-out 15s forwards;
}
.tab-container {
    background-image: url('https://imgpile.com/images/DxF2ix.png');
     background-size: cover;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 1167px;
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
    transform: translate(-50%, -50%);
}
.tab-content {
  padding: 0px;
  max-width: 100%;
  width: 80%;
  height: 300px;
  margin: auto
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
}

.tab-content p {
  max-width: 80%; 
  margin: 0 auto; 
}

.tab-content::-webkit-scrollbar {
  display: none;
}

#tab1 {
  display: block;
}
    .background-image1 {
      background-image: url('https://imgpile.com/images/DxBKFx.png');
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: fadeIn 4s ease-out forwards;
      z-index: 0; /
    }

.background-image2 {
  background-color: #fffad6; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 4s ease-out forwards;
  z-index: -1; 
}

@keyframes stampAnimation {
  0% { opacity: 0;
    transform: translateY(-10px) rotate(-5deg) scale(1);
  }
  25% { opacity: 0.25;
    transform: translateY(0) rotate(2deg) scale(1.05);
  }
  50% { opacity: 0.50;
    transform: translateY(-5px) rotate(-1deg) scale(0.95);
  }
  75% { opacity: 0.75;
    transform: translateY(0) rotate(1deg) scale(1.02);
  }
  100% { opacity: 1;
    transform: translateY(-2px) rotate(0deg) scale(1);
  }
}


